.item-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.item-details .item-image {
  width: 40%;
  height: 50%;
  border-radius: 10px;
  /* margin-top: auto;
  margin-bottom: auto;
} */

.item-details .list-group-item {
  padding: 0.25rem;
}

.item-details .list-group-item .term {
  margin-right: 0.5rem;
}
